body {
    background-image: url("https://img.ibxk.com.br///2016/09/13/13162448904561-t1200x480.jpg");
    color: #666;
}

h1 {
    text-align: center;
    color: white;
}

.clearfix {
    clear: both;
}

.success {
    text-align: center;
    width: 200px;
    height: 23px;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.btn {
    border: none;
    background-color: inherit;
    padding-top: 10px;
    padding-left: 30px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.success:hover {
    background-color: black;
    color: white;
}

#box {
    width: 400px;
    overflow: auto;
    margin: 10px auto;
    background: #2196F3;
    padding-bottom: 20px;
    border-radius: 15px;
}

#message {
    background: #333;
    color: #fff;
}

#gameBoard li {
    float: left;
    margin: 10px;
    height: 90px;
    width: 90px;
    background: black;
    color: white;
    list-style: none;
    font-size: 60px;
    text-align: center;
    border-radius: 5px;
}

#gameBoard li:hover {
    cursor: pointer;
    background: black;
}

#reset:hover {
    cursor: poiner;
    background: red;
}

#reset {
    cursor: pointer;
    border: 0;
    background: black;
    color: white;
    width: 70%;
    padding: 15px;
    border-radius: 5px;
    font-size: 25px;
}

#back {
    margin-left: 40px;
    margin-top: 20px;
    color: white;
}

.o {
    color: green !important;
}

.x {
    color: red !important;
}

.score {
    text-align: left;
    font-size: 18px;
    font-style: bold;
    color: white;
    margin-left: 320px;
}

footer {
    display: block;
    text-align: center;
    padding-top: 20px;
}
