body {
    font-family: Arial;
    color: white;
}

.split {
    height: 100%;
    width: 80%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #FFA000;
    border-top: 5px solid black;
}

.right {
    right: 0;
    background-image: url('https://img.ibxk.com.br///2016/09/13/13162448904561-t1200x480.jpg');
    border-left: 5px solid black;
    border-top: 5px solid black;
}

#name{
    margin-left: 80px;
}

.button3 {
    background-color: red;
    color: black;
    border: 2px solid red;
}

.button3:hover {
    background-color: red;
    color: white;
}

.button {
    background-color: forestgreen; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 35px;
    border-radius: 16px;

}